

body {
  background: #134a6a;
  overflow: hidden;
}

h2 {
  font-size: 30px;
  margin-top: 6px;
  margin-bottom: 10px;
}

button.Button{
  border-radius: 5px;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  margin: 0 0 1.25rem;
  text-align: center;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  background-color: #22b8eb;
  color: #fff;
  transition: background-color 300ms ease-out;
  height: 60px;
}

button.Button:hover {
  background-color: #f17b00;
}

#UploadBox {
  width:80%;
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  text-rendering: optimizeLegibility;
  font-style: normal;
}

#UploadBox h2 {
  color: #fff;
  font-size: 44px;
}

#steps {
  width:100%;
  margin: 0 auto;
  margin-top:75px;
  height:250px;
}

#step {
  float:left;
  width:30%;
  height: 250px;
  margin-left:3%;
}

#step, h3 {
  color: #f17b00;
  font-size: 30px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#NameBox {
  background: transparent;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  height: 40px;
  color: #fff;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-size:20px;
}

button img {
  margin-top:-10px;
}

footer {
  position: absolute;
  bottom: 0;
  width:100%;
  text-align:center;
  color: #fff;
}
